.btn-flip {
    opacity: 1;
    outline: 0;
    color: var(--text);
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;

}

.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: var(--text);
    display: block;
    letter-spacing: 1px;

    transition: 0.3s;
    position: absolute;
    background: transparent;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: var(--background-color);
    letter-spacing: 1px;

    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.3s;
    position: relative;
    background: var(--primary-color);
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}


.btn {
    display: flex;
    justify-content: right;
    align-items: right;
    width: fit-content;
}

.btn-rect-to-round {
    height: 55px;
    width: 200px;
    font-size: 1.5rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.25s ease-in 0s;
}

.btn-rect-to-round:hover {
    border-radius: 60px;
    color: rgb(255, 255, 255) !important;
}

.btn-rect-to-round--blue {
    border: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}

.btn-rect-to-round--blue:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
}




.cssbuttonsIoButton {
    margin-left: auto;
    background: linear-gradient(14deg, rgba(173, 216, 230, 1) 0%, rgb(47, 96, 231) 100%);
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    /* Ensures the link looks like a button */
}

.cssbuttonsIoButton .arrow-icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttonsIoButton:hover .arrow-icon {
    width: calc(100% - 0.6em);
}

.cssbuttonsIoButton .arrow-icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--primary-color);
}

.cssbuttonsIoButton:hover .arrow-icon svg {
    transform: translateX(0.1em);
}

.cssbuttonsIoButton:active .arrow-icon {
    transform: scale(0.95);
}

.no-underline {
    text-decoration: none;
}



.cta-button {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(14deg, rgba(173, 216, 230, 1) 0%, rgb(47, 96, 231) 100%);
    border: none;
    border-radius: 5px;
    /* Removed rounded corners */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}

.cta-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

.cta-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.6);
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    /* Prevents interfering with the button’s click events */
}

.cta-button:hover::before {
    opacity: 1;
    top: -50%;
    left: 150%;
    transition: all 0.5s ease-in-out;
}








.cta-button-small {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(14deg, rgba(173, 216, 230, 1) 0%, rgb(47, 96, 231) 100%);
    border: none;
    border-radius: 5px;
    /* Removed rounded corners */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}

.cta-button-small:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

.cta-button-small::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.6);
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    /* Prevents interfering with the button’s click events */
}

.cta-button-small:hover::before {
    opacity: 1;
    top: -50%;
    left: 150%;
    transition: all 0.5s ease-in-out;
}




.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.submit-btn-primary {
    background-color: var(--new-primary);
    color: white;
}

.submit-btn-primary:hover {
    background-color: var(--primary-color);
}

.submit-btn-success {
    background-color: #28a745;
    color: white;
}

.submit-btn-success:hover {
    background-color: #218838;
}

.submit-btn svg {
    margin-right: 8px;
}