.custom-shape-divider-bottom-1720063485 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1720063485 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1720063485 .shape-fill {
    fill: var(--background-color);
}

.custom-shape-divider-top-1720106994 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720106994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 203px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1720106994 .shape-fill {
    fill: var(--container-color-dark);
}


.custom-shape-divider-bottom-1720162066 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1720162066 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1720162066 .shape-fill {
    fill: black;
}


.custom-shape-divider-top-1720162588 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720162588 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;

}

.custom-shape-divider-top-1720162588 .shape-fill {
    fill: red;
}

.custom-shape-divider-top-1720163157 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1720163157 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1720163157 .shape-fill {
    fill: red;
}


.custom-shape-divider-bottom-1720163213 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1720163213 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1720163213 .shape-fill {
    fill: var(--container-color-dark);
}



.custom-shape-divider-bottom-1720163553 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1720163553 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1720163553 .shape-fill {
    fill: var(--container-color-dark);
}