@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-color: #39a0cd;
  /* Blue */
  --secondary-color: #2ecc71;
  /* Green */
  --accent-color: #17a2b8;
  --accent-color-dark: #067897;
  /* Red */
  --background-color: #f8f8f8;
  /* Light Grey */
  --container-color: #F5F5F5;
  --text: #131313;
  --text-light: #f8f8f8;
  --container-color-dark: #262626;
  /* Dark Grey */

  /* PROPOSED NEW COLOUR PALLET - 27 JUNE */
  --new-primary: #39a0cd;
  --new-secondary: #ED5F1E;
  --new-tertiary: #EF8C25;
  --new-background: #F0ECEC;
  --new-text: #111518;


  --font-size-h1: 2.5rem;
  /* 40px */
  --font-size-h2: 2rem;
  /* 32px */
  --font-size-h3: 1.75rem;
  /* 28px */
  --font-size-h4: 1.5rem;
  /* 24px */
  --font-size-h5: 1.25rem;
  /* 20px */
  --font-size-h6: 1rem;
  /* 16px */
  --font-size-p: 1rem;
  /* 16px */
}

body {
  margin: 0;
  background-color: var(--background-color) !important;
  font-weight: 400;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);

}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-p);
  color: var(--text);

}

li {
  color: var(--text);
  font-size: var(--font-size-p);


}

.icon-style {
  color: var(--text-light);
  /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8)); */
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon-style:hover {
  color: var(--primary-color);
  /* Change to yellow */
  transform: translateY(-5px);
  /* Shift up slightly */
}

.icon-style-light {
  color: var(--text-light);
  /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8)); */
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon-style-light:hover {
  color: var(--primary-color);
  /* Change to yellow */
  transform: translateY(-5px);
  /* Shift up slightly */
}

.container {
  min-width: 90%;
  margin: 15px auto;
}


.accordion-button:focus {
  background-color: rgba(255, 0, 0, 0.719) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
  border: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(255, 0, 0, 0.774) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
  color: black !important;
  border: none !important;
}

.accordion-body {
  font-size: 0.9rem;
}

.contact-link {
  color: var(--text-light);
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
}

.contact-link::after {
  content: '';
  display: block;
  border-bottom: solid 2px var(--new-primary);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform .25s ease-in-out;
}


.contact-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.animated-section {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  overflow: hidden;
}


.text-grow {
  opacity: 0;
  transform: scale(0);
  animation: grow 0.5s ease-out forwards;
}


@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.text-fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-pop-up {
  opacity: 0;
  transform: translateY(20px);
  animation: popUp 0.5s ease-out forwards;
}

@keyframes popUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft 0.5s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight 0.5s ease-out forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Staggered animation delays for each card */
.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 1s;
}

.delay-4 {
  animation-delay: 1.5s;
}

.delay-5 {
  animation-delay: 2s;
}

.delay-6 {
  animation-delay: 2.5s;
}

.delay-7 {
  animation-delay: 3s;
}

.delay-8 {
  animation-delay: 3.5s;
}

.delay-9 {
  animation-delay: 4s;
}

.delay-10 {
  animation-delay: 4.5s;
}