.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);
    /* White color with 90% opacity */
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-icons {
    color: var(--text);
}

.navbar-container.scrolled {
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */
}

.navbar-container.navbar-expanded {
    backdrop-filter: blur(10px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari */

}



.navbar-brand {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

}


.nav-link {
    color: var(--text) !important;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    font-size: 1.5rem;
    /* Add this line to remove underline */

}

.nav-link:hover {
    color: var(--new-primary) !important;
}

.nav-link.active {
    color: var(--new-primary) !important;
}

.nav-link.contact-link {
    background-color: var(--new-primary);
    color: black !important;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    /* Add this line to remove underline */

    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link.contact-link:hover {
    background-color: darkorange;
    color: var(--new) !important;
}

.dropdown-enter {
    opacity: 0;
}

.dropdown-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.dropdown-exit {
    opacity: 1;
}

.dropdown-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.dropdown-toggle::after {
    display: none;
}

/* Custom CSS to add a drop shadow to dropdown menus */
.dropdown-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;

}

.dropdown-item {
    background-color: var(--background-color);
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.nav-custom {
    display: flex;

    align-items: center;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 900;
    /* Below the navbar but above other content */
    display: none;
    /* Hidden by default */
}

.navbar-expanded+.nav-overlay {
    display: block;
    /* Show the overlay when navbar is expanded */
}

.highlight-nav {
    color: var(--primary-color) !important;
    /* Use your theme's primary color or any color that indicates active state */
}

@media (min-width: 992px) {
    .nav-overlay {
        display: none !important;
        /* Hide the overlay on screens larger than 992px */
    }
}

@media (max-width: 991px) {


    .navbar-container {
        display: flex;
        justify-content: flex-start !important;
        text-align: left !important;
        padding: 10px;
    }

    .navbar-container.navbar-expanded {
        background-color: var(--background-color) !important;

    }

    .nav-custom {

        display: flex;
        flex-direction: column;
        /* Ensures items are stacked vertically */
        align-items: flex-start;
        /* Aligns items to the left */
        text-align: left;
        width: 100%;
        margin-left: 0 !important;

        /* For testing alignment */
    }

    .dropdown-menu {
        box-shadow: none;
        border: none;
        background-color: var(--background-color) !important;

    }
}

.footer {
    background-color: var(--container-color-dark);
    color: var(--text-light);
    padding-top: 10px;

}

.footer h4 {
    color: var(--new-primary);
    text-shadow: 1px 1px 2px #111518;
    align-content: center;
}

.footer p {
    color: var(--text-light);
    margin-bottom: 7px;
}


.bottom-strip {
    width: 100%;
    background-color: var(--new-primary);
    color: white;
    padding: 10px;
}